@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/monrserrat/Montserrat-ExtraBold.eot');
  src: url('/assets/fonts/monrserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/monrserrat/Montserrat-ExtraBold.woff2') format('woff2'),
  url('/assets/fonts/monrserrat/Montserrat-ExtraBold.woff') format('woff'),
  url('/assets/fonts/monrserrat/Montserrat-ExtraBold.ttf') format('truetype'),
  url('/assets/fonts/monrserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/monrserrat/Montserrat-Light.eot');
  src: url('/assets/fonts/monrserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/monrserrat/Montserrat-Light.woff2') format('woff2'),
  url('/assets/fonts/monrserrat/Montserrat-Light.woff') format('woff'),
  url('/assets/fonts/monrserrat/Montserrat-Light.ttf') format('truetype'),
  url('/assets/fonts/monrserrat/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/monrserrat/Montserrat-Regular.eot');
  src: url('/assets/fonts/monrserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/monrserrat/Montserrat-Regular.woff2') format('woff2'),
  url('/assets/fonts/monrserrat/Montserrat-Regular.woff') format('woff'),
  url('/assets/fonts/monrserrat/Montserrat-Regular.ttf') format('truetype'),
  url('/assets/fonts/monrserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

