* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $font_main;
  color: $color_text;
}

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
}

main {
  position: relative;
  z-index: 2;
}

.d-flex {
  display: flex;
}