@mixin lineAnimationBlock ($startPosition, $time: 20) {
  $delay: $startPosition * ($time/2) / -100 * 1s;
  $time: $time * 1s;

  animation: lineAnimation $time ease-in-out $delay alternate infinite;
}