/**
 * Header
 */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 80px;
  background-color: white;
  ul {
    display: flex;
    align-items: center;
  }
  .logo {
    a {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 4px;
    }
  }
  .header-navigation{
    li {
      margin: 0 15px;
      a {
        position: relative;
        padding: 4px;
        &::after{
          content: '';
          height: 2px;
          background-color: $color_text;
          position: absolute;
          width: 0;
          transition: .3s;
          bottom: 0;
          left: 0;
        }
        &:hover{
          &::after{
            transition: .3s;
            width: 100%;
          }
        }
      }
    }
  }
  .header-socials {
    margin-left: 40px;
    li {
      margin: 0 10px;
    }
  }
}