section.grid-lines {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .line {
    height: 100vh;
    width: 1px;
    position: relative;
    background-color: #f5f5f5;
    span {
      position: absolute;
      height: 30px;
      width: 1px;
      background-color: #cdcdcd;
    }
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) span {
        $random: random(60) + 20;
        top: $random * 1%;
        @include lineAnimationBlock($random)
      }
    }
  }
}